In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
df=pd.read_csv('house_prices nv.csv')
df

   House Size  House Price
0        1500       350000
1        1800       400000
2        2000       450000
3        2200       475000
4        2500       525000
5        2800       575000
6        3000       600000
7        3200       650000
8        3500       700000
9        4000       750000