In [13]:
a=[10,20,30,40]

In [15]:
# what is the way to print all the elements in the list 
for i in a:
    print(i,end=' ')

10 20 30 40

In [17]:
# nee to check whether element 30 is present in the above list or not 
for i in a:
    if i==30:
        print("value found")
        break
else:
    print("value not found")

value found

In [19]:
30 in a

True

In [27]:
# write a python code to find the index value of a number 30 in the list a (a=10,20,30,40))
for i in range(len(a)):
    if a[i]==30:
        print(i)
        break

2

In [29]:
what will e the index value of 80
items=[10,20,30,40,50,60,70,80]

SyntaxError: invalid syntax (445516984.py, line 1)

In [31]:
items=[10,20,30,40,50,60,70,80]
print(items.index(80))

7

In [ ]:
#size of the list is known 
list_1=[1,2,12,6,10,67,91,99,26,7,18,11,98,27,3,15,22,21,23]

In [33]:
list_1[-19]

NameError: name 'list_1' is not defined

In [89]:
information= [1,"ABC",84.9,'a','e']
print(information)

[1, 'ABC', 84.9, 'a', 'e']

In [37]:
information[1]

'ABC'

In [91]:
information.append('nisha')
print(information)

[1, 'ABC', 84.9, 'a', 'e', 'nisha']

In [93]:
information*8

[1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha',
 1,
 'ABC',
 84.9,
 'a',
 'e',
 'nisha']

In [95]:
information

[1, 'ABC', 84.9, 'a', 'e', 'nisha']

In [97]:
information[1]= "XYZ"

In [99]:
information

[1, 'XYZ', 84.9, 'a', 'e', 'nisha']

In [101]:
# slicing operator 
how to access the output of the following 

information[0:2]

SyntaxError: invalid syntax (31800207.py, line 2)

information [1:]

In [103]:
information[1:6:2]

['XYZ', 'a', 'nisha']

In [119]:
student_2=["stu",8.58,"female","9741917138"]

In [121]:
student_2 [: :-3]

['9741917138', 'stu']

In [125]:
student_2[::2]

['stu', 'female']

In [133]:
# write a python code to create a list of first 10 odd elemensts
without using decision making statements

odd_numbers = [2 * i + 1 for i in range(10)]
print(odd_numbers)

SyntaxError: invalid syntax (3372816113.py, line 2)

In [131]:
write a python code to createa list of 1 to 10 elements and from the list ,create another list with only odd values

SyntaxError: invalid syntax (576207810.py, line 1)

In [135]:
# 1
odd_numbers = list(map(lambda x: 2 * x + 1, range(10)))

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [137]:
# Step 1: Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Step 2: Create another list with only odd values using list comprehension and arithmetic
odd_numbers = [numbers[i] for i in range(len(numbers)) if numbers[i] % 2 != 0]

# Display the result
print("Original List:", numbers)
print("List of Odd Numbers:", odd_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Odd Numbers: [1, 3, 5, 7, 9]

In [139]:
# Step 1: Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Step 2: Create another list with only even values using list comprehension
even_numbers = [num for num in numbers if num % 2 == 0]

# Display the result
print("Original List:", numbers)
print("List of Even Numbers:", even_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Even Numbers: [2, 4, 6, 8, 10]

In [ ]:
#4 write a python code to create list which extract elememnt from the string given by user

In [141]:
# Step 1: Take input from the user
user_input = input("Enter a string: ")

# Step 2: Convert the string into a list of characters
char_list = list(user_input)

# Display the resulting list
print("List of characters:", char_list)

Enter a string:  nisha

List of characters: ['n', 'i', 's', 'h', 'a', ' ']

In [147]:
merged=list+list
merged

TypeError: unsupported operand type(s) for +: 'type' and 'type'

In [149]:
# wirte a python program to get the input from the user for creating two list and add the elements of one listinto the other

# Step 1: Get input from the user for the first list
list1_input = input("Enter elements for the first list, separated by spaces: ")
list1 = list1_input.split()  # Split input string into list of elements

# Step 2: Get input from the user for the second list
list2_input = input("Enter elements for the second list, separated by spaces: ")
list2 = list2_input.split()  # Split input string into list of elements

# Step 3: Add elements of the second list to the first list
list1.extend(list2)

# Display the resulting combined list
print("Combined List:", list1)

Enter elements for the first list, separated by spaces:  nisha
Enter elements for the second list, separated by spaces:  mojo

Combined List: ['nisha', 'mojo']

In [151]:
Enter elements for the first list, separated by spaces: 1 2 3
Enter elements for the second list, separated by spaces: 4 5 6
Combined List: ['1', '2', '3', '4', '5', '6']

SyntaxError: invalid syntax (3866849577.py, line 1)

In [155]:
Enter elements for the first list, separated by spaces: 1 2 3
Enter elements for the second list, separated by spaces: 4 5 6
Combined List: [1, 2, 3, 4, 5, 6]

Enter elements for the first list, separated by spaces:  mojo

ValueError: invalid literal for int() with base 10: 'mojo'

In [157]:
Enter elements for the first list, separated by spaces: 1 2 3
Enter elements for the second list, separated by spaces: 4 5 6
Combined List: [1, 2, 3, 4, 5, 6]

SyntaxError: invalid syntax (4125207078.py, line 1)